---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article>
  <a href=`/blog/${post.slug}`>
    <Image
      src={post.data.cover}
      alt={post.data.coverAlt}
      loading="eager"
      width="800"
    />
    <div class="stack">
      <h3>{post.data.title}</h3>
      <p>
        {post.data.tags.map((tag) => ` #${tag}`)}
      </p>
    </div>
  </a>
</article>

<style>
  article {
    position: relative;
    max-width: var(--max-text-width);
  }

  img {
    aspect-ratio: 21 / 9;
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: saturate(0.3);
    transition: filter 300ms;
  }

  a:hover {
    img {
      filter: saturate(1);
    }
    div {
      background-color: var(--surface-1);
      color: var(--brand);
    }
  }

  div {
    position: absolute;
    top: 0;
    margin: var(--padding);
    padding: var(--padding);
    color: var(--text-3);
    background-color: var(--brand);
    max-width: 40ch;
    box-shadow: var(--shadow-1);
  }

  h3 {
    text-decoration: underline;
    transition: all 300ms;
  }

  p {
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    div {
      margin: 0;
      position: relative;
      max-width: none;
    }
  }
</style>
